<div class="container col-12 col" style="height: 80vh; width: 400px; margin: auto;">

<br/>
  <h1 style="font-size: 20px; color: green;">Survey Form</h1>
  <br/>
    <div class="row col-12" >
        <form class="col col-12" [formGroup]="surveyForm">

          <div class="col-12">
            
                <mat-form-field>
                    <mat-label>Survey Question 1</mat-label>
                    <input matInput formControlName="surveyq1">
                </mat-form-field>
            
          </div>

          <div class="col-12">           
           
                <label>Survey Question 2 (Yes/No): </label>
                <mat-radio-group formControlName="surveyq2">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            
          </div>

          <br/>
    
          
          <div class="col-12">
                <mat-form-field>
                    <mat-label>Survey Question 3</mat-label>
                    <input matInput formControlName="surveyq3">
                </mat-form-field>
          </div>
         
    
            <div class="col-12" *ngIf="showFld">
              
                <mat-label>Survey Question 4 (Yes/No)</mat-label>
                <mat-radio-group formControlName="floatLabelControl">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              
            </div>

            <br/>
        
    
         
            <div class="col-12">
              <mat-form-field>
                <mat-label>Survey Question 5</mat-label>
                <input matInput formControlName="surveyq5">
              </mat-form-field>
            </div>
      
    
       
            <div class="col-12" *ngIf="showFld">
              
                <mat-label>Survey Question 6 (Yes/No)</mat-label>
                <mat-radio-group formControlName="floatLabelControl">
                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              
            </div>

            <br/>
   
    
    
       
            <div class="col-12">
              <mat-form-field>
                <mat-label>Survey Question 7</mat-label>
                <textarea matInput formControlName="surveyq7"></textarea>
              </mat-form-field>
            </div>
 
    
          <div class="row col-12">
            <div class="col-3">
              <button mat-flat-button color="accent">Submit</button>
            </div>
          </div>

        </form>
    </div>
</div>


