textarea {border: 1px solid #ddd; font-family: monospace; height: 300px} 

td {border-bottom: 1px solid #ddd;}

button {border: 1px solid #ddd; margin-left:2px; margin-right:2px; font-size: 12px; background-color: rgb(250, 246, 246); padding-left: 5px; padding-right: 5px; border-radius: 8px;}

