textarea {border: 1px solid #ddd; font-family: monospace; height: 300px} 

td {border-bottom: 1px solid #ddd;}

button {border: 1px solid #ddd; margin:2px; font-size: 12px; background-color: rgb(250, 246, 246); padding: 5px;}

